
html
{
  background-color: #febbbb;
}
button{
  font-family: Inconsolata;
  font-size: 24px;
}

input {
  height: 20px;
  padding-right: 150px;
}
body > div.font-effect-anaglyph
{
  padding-top: 10px
}
