/*$blue: #2196F3;
$transition: 300ms ease;*/

html
{
  background-color: #febbbb;
}
button{
  font-family: Inconsolata;
  font-size: 24px;
}

input {
    height: 20px;
    padding-right: 150px;
}
body > div.font-effect-anaglyph
{
  padding-top: 10px
}

/* {
  box-sizing: border-box;
  outline: none;

  *, *:before, *:after {
    box-sizing: inherit;

    &:focus {
      outline: inherit;
    }
  }
}

.title {
  text-align: center;
  font-weight: 200;
  margin-top: 50px; */
}
/*
.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 50px auto 0; */
/*
  .query {
    height: 50px;
    width: 100%;
    display: block;
    padding: 0 25px;
    border: 1px solid #ccc;



.result {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 5% 25px 0; */
  /* background: #eee; */

  /* img, p.no-results {
    width: 100%;
    max-width: 500px;
    height: auto;
    opacity: 1;



    transition: $transition;
  } */
/*
  p.no-result {
    font-weight: 200;

    &.center {
      text-align: center;
    }
  }
} */
